html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* La altura mínima es igual a la altura de la ventana */
    margin: 0; /* Elimina márgenes por defecto */
}

main {
    flex: 1; /* Ocupa el espacio restante entre el header y el footer */
}

/*------------------------------------------------------------*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTILOS HEADER*/
/* Estilos generales para el header */
header > div {
    display: flex;
    flex-direction: column; /*Coloca logo y nav en columnas*/
    align-items: center; /*Centra horizontalmente*/
    background-color: #ebd6ff;
}

/* Logo centrado */
#logoHeader {
    margin-bottom: 20px;
    margin-top: 20px; /* Espacio debajo del logo */
}

/* Estilos del nav */
nav {
    display: flex; /* Utiliza flexbox para distribuir los enlaces */
    gap: 100px; /* Espaciado uniforme entre los enlaces */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-bottom: 20px;
}

/* Opcional: estilos para los enlaces */
nav a {
    text-decoration: none; /* Sin subrayado */
    color: black; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 550;
    padding: 5px 10px; /* Espaciado interno */
    transition: color 0.3s; /* Efecto de transición */
    cursor: pointer;
}

nav a:hover {
    color: #007BFF; /* Cambia color al pasar el ratón */
}
/*----------------------------------------------------------------*/
/*ESTILOS FOOTER*/  
footer {
    background-color: #ebd6ff;
}

.footerContenedor {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px; /* Espacio entre cada caja */
    padding: 30px;
    background-color: #ebd6ff;
    margin: 0 auto;
    max-width: 1200px; 
}

#caja {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tituloFooter {
    color: #51039c;
}

.verticalEnlace {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 8px;
}

.horizontalEnlace {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 25px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    cursor: pointer;
}

a:hover {
    color: #0056b3;
}

/*-------------------------------------------------------------*/
/*ESTILOS MAIN*/
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%; /* Ancho ajustable para todas las secciones */
    padding: 20px;
    text-align: center;
    color: black;
}

.portada {
    background-image: url(../img/Logo1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;  /* Ajusta el ancho al contenedor */
    height: 400px;
    color: rgb(245, 14, 14);
}

.aguacate {
    background-color: #ebd6ff;
    
}

.papaya {
    
}

.salmorejo {
    background-color: #ebd6ff;
    
}

.torrezno {
    
}

.sobrenosotros {
    background-color: #ebd6ff;
    display: flex;               /* Activa el diseño en línea (horizontal) */
    justify-content: space-around; /* Opcional: Espacio equidistante entre los elementos */
    align-items: center;          /* Centra verticalmente los elementos en su contenedor */
    gap: 20px;
}

.mapa {
    
}

section h1 {
    font-size: 26px;
}

section p {
    margin-top: 10px;
}

section img {
    margin-top: 10px;
}

#map {
    width: 100%;
    height: 400px;  
}

